{
    plugins: [
        '@semantic-release/commit-analyzer',
        '@semantic-release/release-notes-generator',
        ['@semantic-release/exec', {
            prepareCmd: 'scripts/update-version.sh ${nextRelease.version}'
        }],
        ['@semantic-release/git', {
            assets: ['SmartContractApp.xcodeproj/project.pbxproj'],
            message: 'chore(release): bump version to ${nextRelease.version}'
        }],
        '@semantic-release/github'
    ]
}