name: Create Release
on:
    workflow_dispatch:
    push:

jobs:
    create-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"
            - name: Setup Git
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"
            - name: Dry Run Release
              uses: cycjimmy/semantic-release-action@v4
              if: github.event_name == 'push'
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
              with:
                  dry_run: true
                  branches: |
                      [
                        '+([0-9])?(.{+([0-9]),x}).x',
                        'main',
                        {name: '*', prerelease: true}
                      ]
                  extra_plugins: |
                      @semantic-release/exec
            - name: Create Release
              uses: cycjimmy/semantic-release-action@v4
              if: github.event_name == 'workflow_dispatch'
              env:
                  GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
              with:
                  branch: main
                  extra_plugins: |
                      @semantic-release/exec
